#myVideo
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
.snowflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
    width:50px;
}
body {
  background-color:grey;
}
#site {
    height:100vh;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
