body {
    background-image: url('./images/many_pizza_slices.jpeg');
    font-family: "Arial", Helvetica, sans-serif;
}

.pizzaSlices {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 200;
    width: 50px;
}

#webcam {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

#site {
    width: 900px;
    margin: 0 auto;
}

.hiddenClass {
    visibility: hidden
}

.showClass {
    visibility: visible;
}

#startbuttondiv {
    width: 200px;
    margin: 0 auto;
}

#start {
    background: #e61010;
    background-image: -webkit-linear-gradient(top, #e61010, #bf0404);
    background-image: -moz-linear-gradient(top, #e61010, #bf0404);
    background-image: -ms-linear-gradient(top, #e61010, #bf0404);
    background-image: -o-linear-gradient(top, #e61010, #bf0404);
    background-image: linear-gradient(to bottom, #e61010, #bf0404);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    text-shadow: 1px 1px 3px #cc262f;
    -webkit-box-shadow: 10px 4px 3px #a8a8a8;
    -moz-box-shadow: 10px 4px 3px #a8a8a8;
    box-shadow: 10px 4px 3px #a8a8a8;
    font-family: Georgia;
    color: #f5f5f5;
    font-size: 20px;
    padding: 28px;
    border: dotted #ff0000 5px;
    text-decoration: none;
    margin-left: 14%;
}

#start:hover {
    background: #e83131;
    background-image: -webkit-linear-gradient(top, #e83131, #f22424);
    background-image: -moz-linear-gradient(top, #e83131, #f22424);
    background-image: -ms-linear-gradient(top, #e83131, #f22424);
    background-image: -o-linear-gradient(top, #e83131, #f22424);
    background-image: linear-gradient(to bottom, #e83131, #f22424);
    text-decoration: none;
}

#ming {
    float: left;
    margin-left: 30%;
}

#score {
    float: right;
    margin-right: 2%;
    margin-top: -45%;
    font-size: 150%;
}

#mycounter {
    z-index: 2;
    position: absolute;
    margin-top: 24.2%;
    margin-left: -71%;
    font-size: 150%;
}

#footer {
    text-align: center;
}

#endgame {
  border: solid black 3px;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  width:50%;
  margin: 0 auto;
  background-color: #DF0E0E;
}
